socket-xcode/client/*.cmake
socket-xcode/client/CMakeCache.txt
socket-xcode/client/CMakeFiles/
socket-xcode/client/Makefile

socket-xcode/server/*.cmake
socket-xcode/server/CMakeCache.txt
socket-xcode/server/CMakeFiles/
socket-xcode/server/Makefile

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
#*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
#*.a
*.lib

# Executables
*.exe
*.out
*.app
